In [1]:
import pandas as pd

In [2]:
data_bus=pd.read_csv('bus_system_ex.csv')

In [3]:
data_bus

,BUS_NUMBER,D_FNAME,D_PHNUMBER,STUDENT_ID,S_FNAME,time_to_uni,TO_UNI,WORK_TIME,B_CITY,S_POSTCODE,B_STREET,time_to_home
0,103,Malik,596543220,1234567892,Amal,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100019,Al-khalidiya,4:00 PM
1,102,Owais,573457890,1234567892,Amal,8:00 AM,Jeddah University,Morning Shift,Jeddah,100019,Al-khalidiya,11:00 AM
2,103,Malik,596543220,1234567893,Mona,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100015,Al-nahdah,4:00 PM
3,102,Owais,573457890,1234567893,Mona,8:00 AM,Jeddah University,Morning Shift,Jeddah,100015,Al-nahdah,11:00 AM
4,103,Malik,596543220,1234567894,Nada,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,120010,Abdullah bin Al-Abbas,4:00 PM
5,102,Owais,573457890,1234567894,Nada,8:00 AM,Jeddah University,Morning Shift,Jeddah,120010,Abdullah bin Al-Abbas,11:00 AM
6,100,Mussab,534117890,1234567895,Sara,6:00 AM,KAU,Morning Shift,Makkah,120510,Abdullah bin Al-Abbas,11:00 AM
7,101,Raed,506543210,1234567895,Sara,12:00 PM,KAU,Afternoon Shift,Makkah,120510,Abdullah bin Al-Abbas,4:00 PM
8,100,Mussab,534117890,1234567896,Farah,6:00 AM,KAU,Morning Shift,Makkah,120019,Dr Abdul qadir koshak,11:00 AM
9,101,Raed,506543210,1234567896,Farah,12:00 PM,KAU,Afternoon Shift,Makkah,120019,Dr Abdul qadir koshak,4:00 PM
10,100,Mussab,534117890,1234567897,Wafa,6:00 AM,KAU,Morning Shift,Makkah,120015,Al-Laith,11:00 AM
11,101,Raed,506543210,1234567897,Wafa,12:00 PM,KAU,Afternoon Shift,Makkah,120015,Al-Laith,4:00 PM
12,103,Malik,596543220,1234567890,Soha,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100010,Tahlia,4:00 PM
13,102,Owais,573457890,1234567890,Soha,8:00 AM,Jeddah University,Morning Shift,Jeddah,100010,Tahlia,11:00 AM
14,103,Malik,596543220,1234567891,Mona,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100510,Tahlia,4:00 PM
15,102,Owais,573457890,1234567891,Mona,8:00 AM,Jeddah University,Morning Shift,Jeddah,100510,Tahlia,11:00 AM

In [4]:
data_copy=data_bus.copy()
data_copy

,BUS_NUMBER,D_FNAME,D_PHNUMBER,STUDENT_ID,S_FNAME,time_to_uni,TO_UNI,WORK_TIME,B_CITY,S_POSTCODE,B_STREET,time_to_home
0,103,Malik,596543220,1234567892,Amal,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100019,Al-khalidiya,4:00 PM
1,102,Owais,573457890,1234567892,Amal,8:00 AM,Jeddah University,Morning Shift,Jeddah,100019,Al-khalidiya,11:00 AM
2,103,Malik,596543220,1234567893,Mona,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100015,Al-nahdah,4:00 PM
3,102,Owais,573457890,1234567893,Mona,8:00 AM,Jeddah University,Morning Shift,Jeddah,100015,Al-nahdah,11:00 AM
4,103,Malik,596543220,1234567894,Nada,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,120010,Abdullah bin Al-Abbas,4:00 PM
5,102,Owais,573457890,1234567894,Nada,8:00 AM,Jeddah University,Morning Shift,Jeddah,120010,Abdullah bin Al-Abbas,11:00 AM
6,100,Mussab,534117890,1234567895,Sara,6:00 AM,KAU,Morning Shift,Makkah,120510,Abdullah bin Al-Abbas,11:00 AM
7,101,Raed,506543210,1234567895,Sara,12:00 PM,KAU,Afternoon Shift,Makkah,120510,Abdullah bin Al-Abbas,4:00 PM
8,100,Mussab,534117890,1234567896,Farah,6:00 AM,KAU,Morning Shift,Makkah,120019,Dr Abdul qadir koshak,11:00 AM
9,101,Raed,506543210,1234567896,Farah,12:00 PM,KAU,Afternoon Shift,Makkah,120019,Dr Abdul qadir koshak,4:00 PM
10,100,Mussab,534117890,1234567897,Wafa,6:00 AM,KAU,Morning Shift,Makkah,120015,Al-Laith,11:00 AM
11,101,Raed,506543210,1234567897,Wafa,12:00 PM,KAU,Afternoon Shift,Makkah,120015,Al-Laith,4:00 PM
12,103,Malik,596543220,1234567890,Soha,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100010,Tahlia,4:00 PM
13,102,Owais,573457890,1234567890,Soha,8:00 AM,Jeddah University,Morning Shift,Jeddah,100010,Tahlia,11:00 AM
14,103,Malik,596543220,1234567891,Mona,12:00 PM,Jeddah University,Afternoon Shift,Jeddah,100510,Tahlia,4:00 PM
15,102,Owais,573457890,1234567891,Mona,8:00 AM,Jeddah University,Morning Shift,Jeddah,100510,Tahlia,11:00 AM

In [5]:


 # Define a function to print student details
def student_to_uni(student_id,shift):
    filtered_df = data_bus[(data_bus['STUDENT_ID'] == student_id)& (data_bus['WORK_TIME'] == shift)]
    if not filtered_df.empty:
        student_info = filtered_df.iloc[0]
        print("****************************Driver And Bus Info******************************")
        print(f"TO: {student_info['TO_UNI']}")
        print("-----------------------------------------------------------------------------")
        print(f"The Bus Is Available By {student_info['time_to_uni']}. It Will Wait For 15 Minutes Before Leaving")
        print("-----------------------------------------------------------------------------")
        print(f"Driver Name: {student_info['D_FNAME']}")
        print("-----------------------------------------------------------------------------")
        print(f"Bus Number: {student_info['BUS_NUMBER']}")
        print("-----------------------------------------------------------------------------")
        print(f"Driver Phone: 0{student_info['D_PHNUMBER']}")
        print("-----------------------------------------------------------------------------")
    else:
        print("-----------------------------------------------------------------------------")
        print("You are not registered in our database.")

def student_to_home(student_id,shift):
    filtered_df = data_bus[(data_bus['STUDENT_ID'] == student_id)& (data_bus['WORK_TIME'] == shift)]
    if not filtered_df.empty:
        student_info = filtered_df.iloc[0]
        print("****************************Driver And Bus Info******************************")
        print(f"TO : {student_info['B_STREET']},{student_info['S_POSTCODE']}")
        print("-----------------------------------------------------------------------------")
        print(f"The Bus Is Available By {student_info['time_to_home']}. It Will Wait For 15 Minutes Before Leaving")
        print("-----------------------------------------------------------------------------")
        print(f"Driver Name: {student_info['D_FNAME']}")
        print("-----------------------------------------------------------------------------")
        print(f"Bus Number: {student_info['BUS_NUMBER']}")
        print("-----------------------------------------------------------------------------")
        print(f"Driver Phone: 0{student_info['D_PHNUMBER']}")
        print("-----------------------------------------------------------------------------")
    else:
        print("-----------------------------------------------------------------------------")
        print("You are not registered in our database.")

In [7]:
while True:
    try:
        print("*****************************Student Info************************************")
        student_id_input=int(input('please enter your ID? '))
        break
    except ValueError:
        print("Invalid student ID. Please enter an integer.")
        continue

valid_shifts = ("morning", "afternoon")
while True:
    print("-----------------------------------------------------------------------------")
    student_shift = input("Morning shift OR Afternoon shift? ").strip()
    student_shift = student_shift.lower()
    if student_shift not in valid_shifts:
        print("Invalid student shift. Please enter 'Morning' or 'Afternoon'.")
        continue
    if student_shift =='morning':
        student_shift="Morning Shift"
    if student_shift =='afternoon':
        student_shift="Afternoon Shift"
    break
    
valid_des = ("uni","home")
while True:
    print("-----------------------------------------------------------------------------")
    student_destination=input('To home OR To uni? ')
    student_destination = student_destination.lower()
    if student_destination not in valid_des:
        print("Invalid student destination. Please enter 'UNI or 'HOME'.")
        continue
    break

    
    
if  student_destination=='uni':
    student_to_uni( student_id_input,student_shift)
elif student_destination=='home':
     student_to_home( student_id_input,student_shift)

*****************************Student Info************************************
please enter your ID? 1234567894
-----------------------------------------------------------------------------
Morning shift OR Afternoon shift? morning
-----------------------------------------------------------------------------
To home OR To uni? home
****************************Driver And Bus Info******************************
TO : Abdullah bin Al-Abbas,120010
-----------------------------------------------------------------------------
The Bus Is Available By 11:00 AM. It Will Wait For 15 Minutes Before Leaving
-----------------------------------------------------------------------------
Driver Name: Owais
-----------------------------------------------------------------------------
Bus Number: 102
-----------------------------------------------------------------------------
Driver Phone: 573457890
-----------------------------------------------------------------------------